MONGODB_URI="mongodb://localhost/itemdefdb"
GRAPHQL_URI='http://localhost:3000/graphql'
REDIS_URL='redis://localhost:6379'
SESSION_SECRET=ReplaceMeWithYourOwnRandomKeyPleaseOKR3fr1g3r4t0r

NODE_ENV=development
URL=http://localhost:8080
SERVER_SIDE_URL=http://localhost:8080
HOST=localhost
PORT=3000

# Uncomment to activate
# FACEBOOK_CLIENT_ID=XXX
# GOOGLE_CLIENT_ID=XXX
# TWITTER_CLIENT_ID=XXX
